<component name="ArtifactManager">
  <artifact type="exploded-war" name="spring-edu:war exploded">
    <output-path>$PROJECT_DIR$/out/artifacts/spring_edu_war_exploded</output-path>
    <root id="root">
      <element id="library" level="project" name="javax.json.bind-api-1.0" />
      <element id="library" level="project" name="javax.json.processing-1.1.4" />
      <element id="javaee-facet-resources" facet="spring-edu/web/Web" />
    </root>
  </artifact>
</component>